#section-body{
      background: #eff4f6;
      height: 60vh;
      line-height: 1.8;
}

.container{
    display: flex;
    max-height: 60vh;
    justify-content: space-around;
    align-content: center;
    padding: 20px 10px;
    margin: 2rem auto;
}

.home-text{
    font-size: 1.8rem;
    margin-top: 50px
}

.image{
    background: url('../../assets/home.png') no-repeat center center/cover;
    width: 40%;
}

h1{
   
}

img{
    width: 600px;
}